<VirtualHost *:80>
        ServerName devops.com

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/devops.com
</VirtualHost>

<VirtualHost *:80>
        ServerName devsec.com

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/devsec.com
</VirtualHost>

<VirtualHost *:80>
        ServerName devsecops.com

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/devsecops.com
</VirtualHost>
